{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crisis Management Assistant</title>
        <link rel="icon" type="image/x-icon" href='{% static "icons/favicon.ico"%}'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet"/> 
        <link rel="stylesheet" href='{% static "bootstrap-5.0.2/custom.css"%}'>
        <link rel="stylesheet" href='{% static "bootstrap-5.0.2/animations.css"%}'>
        <link rel="stylesheet" href='{% static "bootstrap-5.0.2/css/bootstrap.min.css"%}'> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>   
        <script src='{% static "js/jquery.min.js"%}'></script>
        <script src='{% static "js/popper.min.js"%}'></script>
        <script src='{% static "bootstrap-5.0.2/js/bootstrap.bundle.min.js"%}'></script>   
    </head>
    {% block body %}
    {% endblock %}
    <script>
        // Check if user is authenticated and set font size accordingly
        document.addEventListener('DOMContentLoaded', function() {
            var fontSize = '{% if request.user.is_authenticated %}{{ request.user.settings.font_size|default:16 }}px{% else %}16px{% endif %}';
            document.body.style.fontSize = fontSize;
        });
    </script>
</html>