{% extends 'base-body.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h3>Crisis Management Assistant</h3>
    <p class="lead">
        Having reviewed the existing problem and the market desires for a solution to fix this issue, possible solutions can be explored. The best existing solution explored was Everbridge but the critical issues this fails to solve is the automation of its processes and cost reductions. Adding these elements would make the tool accessible to small-medium companies and even larger organisations who want to begin exploring the crisis technology available to them without investing too much initially. This matches the needs of the current market nicely as many organisations are being pushed towards more mature crisis structures due to ongoing regulation and legislation implementations.
    </p>
    <p>
        Over the last 2 years AI and generative models have had a significant impact in the professional environment, across a number of industries, as they have been adapted to a user friendly and accessible format. Taking a similar approach and applying modern AI models to this problem could provide a valuable output for clients. The benefit of this would be that any approach would be both automated and simple for a user to approach. This opens up mature crisis management capabilities to a new client base without requiring too much investment or initial executive buy-in from clients.
    </p>
    <p>
        The base of the application should take from the key needs of an emerging crisis team. The most critical need is a secure out of environment storage space for crisis documentation, and the ability to access, download, edit and upload these documents with a high level of availability guaranteed over this. To achieve this, a web application hosted with a dependable cloud service provider could guarantee the necessary uptime. Using this platform to host a bare bones but secure application that handles a back end file server to store user documents would meet the initial requirements of users.
    </p>
    <p>
        Proceeding on from this, the AI models discussed could be run on a backend microservice to provide automated analysis of user documents. This analysis should be trained on industry standard documentation, allowing it to pull out issues with user documents and recommend updates. Furthermore, drawing from tools such as pdf.ai, this data analysis should make use of Natural Language Processing techniques to provide chat functionality with the document. This would allow inexperienced crisis responders to make quick and efficient use of their documentation. Functionality could include, checking decisions against documented decision criteria and thresholds, gathering required information prior to an action or decision and managing a crisis directly with the chatbot by inputting details of an ongoing incident and receiving recommendations for actions from a user's pre-uploaded and analysed documents.
    </p>
    <p>
        In summary, this proposed solution would combine a secure and dependable web application with advanced AI models to provide an efficient, cheap and accessible tool for crisis management. This would appeal to a number of audiences and support clients to meet new and ever expanding expectations for organisational resilience and crisis management.
    </p>
</div>
{% endblock %}