{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crisis Management Assistant</title>
         <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='{% static "bootstrap-5.0.2/css/bootstrap.min.css"%}' type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="display-1 mb-4">Crisis Management Assistant</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
                <h2 class="display-1 mb-2">Upload Files</h2>
                <form name="file" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="submit">Upload</button>
                </form>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Uploaded Files:</h2>
                    <ul>
                        {% block table %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>