{% extends 'base-body.html' %}

{% load static %}

{% load custom_filters %}

{% block content %}
<div class="container">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Chats</p>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <ul>
        {% if chats %}
        <table class="table align-middle mb-0 bg-white">
            <thead>
                <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Action</th>
                <th></th>
                </tr>
            </thead>
                <tbody>        
                    {% for chat in chats %}
                <tr class="clickable-row" data-href="{{ chat.get_absolute_url }}">
    
                    <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <a href="{{ chat.get_absolute_url }}">
                                <p class="fw-bold mb-1">{{ chat.chatName }}</p>
                            </a>
                        </div>
                    </div>
                    </td>
    
                    <td>
                        <p class="fw-normal mb-1">{{ chat.user}}</p>
                    </td>
                    <td>{{ chat.timestamp}}</td>
                    <td>
                        {% if chat.user == request.user %}
                            <form action="{{ chat.get_delete_url }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>  
                {% endfor %}
                </tbody>      
        </table>
        <!-- JavaScript to handle row clicks -->
        <script>
            $(document).ready(function(){
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>
        {% else %}
        <p class="text-center fw-normal  mb-5 mx-1 mx-md-4 mt-4">No chats have been created.</p>
        {% endif %}
    </ul>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <form action="/cma/chat/new">
            {% csrf_token %}
            <label for="textfield">Chat name:</label>
            <input type="text" id="chat_name" name="chat_name">  
            <button type="submit">Create chat</button>
        </form>
    </div>
</div>
{% endblock %}