{% extends 'base-body.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% if allow_view %}
        <div class="row justify-content-end">
            <div class="col-auto">                           
                <label class="form-check-label fw-light text-muted">Details</label>          
            </div>
            <div class="col-auto">                           
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="fileViewSwitch" name="switch_value" {% if switch_checked %} checked {% endif %} />
                </div>       
            </div>
            <div class="col-auto">                           
                <label class="form-check-label fw-light text-muted">Raw File</label>           
            </div>
        </div>  
    {% endif %}
    <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-2">{{CMDoc.fileName}}</p>
    
    <!-- Generated content -->
    <div id="fileContent" class="mt-1 {% if switch_checked %} d-none {% endif %}">
        <div class="container">
            <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
                <div class="row">
                    <div class="col">                           
                        <p class="lead">File Description:</p>
                        <p name="fileDesc">{{CMDoc.desc}}</p>                       
                    </div>
                </div> 
                {% if allow_extracted_data %}
                    <div class="row">
                        <div class="col">
                            <p class="lead">Generated Summary:</p>
                            <p>{{ summary }}</p>                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="lead">Key People:</p>
                            {% if names_list %}
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name in names_list %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>     
                            {% else %}
                                <p>No names available.</p>
                            {% endif %}                  
                        </div>
                    {% endif %}
                </div>                
            </div>
        </div>
    </div>

    <!-- File Display -->
    <div id="fileDisplay" class="mt-3 {% if not switch_checked %} d-none {% endif %}">
        <div class="container">
            <embed src="{{ CMDoc.file.url }}" width="100%" height="600px" frameborder="2">
        </div>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-1 mt-sm-2 mt-lg-4">
        <form action="{{ CMDoc.get_download_url }}">
            <input type="submit" id="submitDownload" class="btn btn-primary btn-lg" value="Download File" />
        </form>
    </div>
</div>

<script>
    // Function to toggle content based on switch state
    document.addEventListener('DOMContentLoaded', function() {
        const switchButton = document.getElementById('fileViewSwitch');
        const fileContent = document.getElementById('fileContent');
        const fileDisplay = document.getElementById('fileDisplay');

        switchButton.addEventListener('change', function() {
            if (this.checked) {
                // If switch is checked, hide fileContent and show fileDisplay
                fileContent.classList.add('d-none');
                fileDisplay.classList.remove('d-none');
            } else {
                // If switch is unchecked, hide fileDisplay and show fileContent
                fileContent.classList.remove('d-none');
                fileDisplay.classList.add('d-none');
            }
        });
    });
</script>

{% endblock %}
