{% extends 'base-body.html' %}

{% load static %}

{% block content %}
<div class="container">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">{{chat.chatName}}</p>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-9 ">
                {% if chat_history %}
                    {% for tuple in chat_history %}
                        {% if tuple %}
                            {% if "Question" in tuple %}
                                <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                    <p name="question" class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">{{ tuple|slice:"9:" }}</p>
                                </div>
                            {% elif "Answer" in tuple %}
                                <div class="d-flex flex-row justify-content-start">
                                    <p name="answer" class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">{{ tuple|slice:"9:" }}</p>
                                </div>
                            {% elif "Context" in tuple %}
                                <div class="d-flex flex-row justify-content-start">
                                    <p name="justification" class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">Justification: {{ tuple|slice:"9:" }}</p>
                                </div>
                            {% else %}
                                <p>{{ tuple }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No chat history available.</p>
                {% endif %}
            <form class="form-inline" action="" method="POST" id="questionForm" onsubmit="showLoadingIndicator()">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <input class="form-control no-outline" type="text" placeholder="Ask a question" name="question_value" id="question_value">
                    </div>
                    <div class="col-md-2"> 
                        <button id="submitQuestion" class="btn-change bg-dark my-2 my-sm-0" type="submit">Ask</button>
                    </div>
                    <div class="col-md-2"> 
                        <!-- Loading Indicator -->
                        <div id="loadingIndicator" class="d-none">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="mt-2">Loading...</p>
                        </div>
                    </div>
                </div>
                <div data-bs-toggle="tooltip" data-bs-placement="left" title="If you have the required AI models executing on your local machine activate this setting." data-bs-delay="1000">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Local file processing:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="switch_value" {% if switch_checked %} checked {% endif %} />
                    </div> 
                </div>
            </form>  
        </div>
        <div class="col-md-3">
            <p class="lead">Context files:</p>
            <form action="{{ chat.get_regen_context_url }}" method="post">
                {% csrf_token %}
                {% if all_file_data %}
                    <table id="contextTable" class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in all_file_data  %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><p name="contextFileName">{{ file.name }}</p></td>
                                    <td>
                                        <input type="checkbox" name="selected_files" value="{{ file.id }}" {% if file.id in file_ids %}checked{% endif %}>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>     
                {% else %}
                    <p>No files available.</p>
                {% endif %}     
                <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-1 mt-sm-2 mt-lg-4">
                    <input type="submit" class="btn btn-primary btn-lg" value="Regenerate context" />
                </div>   
            </form>      
        </div>
      </div>
</div>

<!-- JavaScript to show/hide loading indicator -->
<script>
    function showLoadingIndicator() {
        document.getElementById("loadingIndicator").classList.remove("d-none");
    }
    function hideLoadingIndicator() {
        document.getElementById("loadingIndicator").classList.add("d-none");
    }
    // Activate Bootstrap tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>

{% endblock %}