{% extends 'base-body.html' %}

{% load static %}

{% block content %}
<div class="container">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
    <!-- Example of displaying messages in a template -->
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% if user.is_authenticated %}
        <p class="text-center text-muted mt-5 mb-0">You are already logged in. Want to sign out?
            <a href="/auth/logout/" class="fw-bold text-body">
                <u>Sign out here</u>
            </a>
        </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="d-flex justify-content-center form-outline mb-4 rounded">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>
        <p class="text-center text-muted mt-5 mb-0">Don't have an account? 
            <a href="/auth/register/" class="fw-bold text-body">
                <u>Register here</u>
            </a>
        </p>
    {% endif %}
</div>
{% endblock %}