{% extends 'base-auth.html' %}

{% load static %}

{% block content %}
<div class="container">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign out</p>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <p class="text-center text-muted mt-5 mb-3">Are you sure you want to logout?</p>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" name="submit" class="btn btn-primary btn-lg">Logout</button>
            </div>
        </form>
    {% else %}
    <p class="text-center text-muted mt-5 mb-0">You are not logged in. Have an account?
        <a href="/auth/login/" class="fw-bold text-body">
            <u>Login here</u>
        </a>
    </p>
    {% endif %}
</div>               
{% endblock %}