{% extends 'base-body.html' %}

{% load static %}

{% block content %}
    <div>
        <h1>Crisis Management Assistant</h1>
    </div>
    <div>
        <div>
            {% if user.is_authenticated %}
            <h2>Logout</h2>
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to logout?</p>
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <p>You are not logged in. Would you like to <a href='/auth/login/'>login</a>?</p>
            {% endif %}
        </div>
    </div>
{% endblock %}