{% extends 'base-auth.html' %}

{% load static %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <form method="post" id="registration_form">
                {% csrf_token %}
                <div class="form-outline mb-4 border rounded" >
                    <input class="form-control" type="text" id="username" name="username">
                    <label class="form-label" for="username">Your Name</label>
                </div>
                <div class="row">
                    <div class="col-md-6">                           
                        <div class="form-outline mb-4 border rounded" >
                            <input class="form-control" type="text" id="first_name" name="first_name">
                            <label class="form-label" for="first_name">First Name</label>
                        </div>                           
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline mb-4 border rounded" >
                            <input class="form-control" type="text" id="last_name" name="last_name">
                            <label class="form-label" for="last_name">Last Name</label>
                        </div>                           
                    </div>
                </div>                     
                <div class="form-outline mb-4 border rounded">
                    <input class="form-control" type="email" id="email" name="email">
                    <label class="form-label" for="email">Your Email</label>
                </div>

                <div class="form-outline mb-4 border rounded">
                    <input class="form-control" type="password" id="password1" name="password1">
                    <label class="form-label" for="password1">Password</label>
                </div>

                <div class="form-outline mb-4 border rounded">
                    <input class="form-control" type="password" id="password2" name="password2">
                    <label class="form-label" for="password2">Repeat your password</label>
                </div>                                          

                <ul>
                    <li>
                        Your password can’t be too similar to your other personal information.
                    </li>
                    <li>
                        Your password must contain at least 8 characters.
                    </li>
                    <li>
                        Your password can’t be a commonly used password.
                    </li>
                    <li>
                        Your password can’t be entirely numeric.
                    </li>
                </ul>

                <div class="form-check d-flex justify-content-center mb-4">
                    {{ form.ToS }}
                    <label class="form-check-label" for="{{ form.ToS.id_for_label }}">
                        I agree to all statements in <a href='{% static "documents/Terms of Service.txt"%}' class="text-body" target="_blank"><u>Terms of service</u></a>
                    </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Already have an account? 
                    <a href="/auth/login/" class="fw-bold text-body">
                        <u>Login here</u>
                    </a>
                </p>
            </form>
        {%else%}
            <p>You are already logged in. Would you like to <a href='/auth/logout/'>logout</a>?</p>
        {%endif%}
    </div>
{% endblock %}